<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the profile view</h1>
       <p> name :{{user.first_name}}<br>
        email :{{user.email}}<br>
        contact number :{{user.staffmember.contact}}<br>
        **********************************************************
       </p>

        <a href="{% url 'authenticate:dashboard' %}">Return to dashboard</a>

        
</body>
</html>