<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

</head>
<body>
<svg viewBox="0 0 960 300">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="80%">Dashboard</text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg>


<nav>
  <ul>
    <li><a class="social google" href="{% url 'scheduler:profile' %}">Go To Details Page</a></li>
    <li><a class="social tumblr" href="{% url 'scheduler:train_list' %}">Edit Trains</a></li>
    <li><a class="social facebook" href="{% url 'scheduler:station_list' %}">Edit Stations</a></li>
    <li><a class="social github" href="{% url 'scheduler:schedule_list' %}">Edit Timetables</a></li>
    <li><a class="social scriptogram" href="{%url 'authenticate:logout'%}">Logout</a></li>
    <li><a class="social twitter" href="{% url 'scheduler:shortest_path' %}">Shortest route Calculator</a></li>
  </ul>
</nav>
<script src="{% static 'js/dashboard.js' %"></script>
</body>
</html>