<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Login form</h1>
    {% if form.errors  %}
        <p> your username and pass doesnt match</p>
    {% else %}
        <p>Please log in</p>
    {% endif %}
        <form action="{% url 'authenticate:login' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Login</button>
        </form>
    
</body>
</html>